.footer {
  text-align: center;
  @media only screen and (max-width: 1919px) and (min-width: 1366px) {
    font-size: 13px;
  }
  @media (max-width: 992px) {
    font-size: 13px;
  }
  @media (max-width: 768px) {
    font-size: 13px;
  }
  @media (max-width: 576px) {
    font-size: 13px;
  }
  @media (max-width: 480px) {
    font-size: 12px;
  }
}