body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.ant-layout {
  min-height: 100%;
}

.ant-btn-lg, .ant-btn-primary {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 24px;
}

#modal {
  position: absolute;
  margin-top: 15%;
}